.mainSignup {
  margin-left: 180px;
    margin-right: 180px !important;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh;
    width: auto;
  background-color: #fef9f4 !important;
}

.mainSignup h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    color: #6F4E37;
}

#groupName, #description {
    width: 60%;
}
