.pet-events-page {
}

/* Apply background ONLY when main-content is inside PetEvents */
.pet-events-page .main-content {
  background-image: url('../Images/events-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#event-title {
  color: #f1f1f1;
  font-size: 75px;
  justify-self: center;
}

#upcoming-title {
  color: #f1f1f1;
  font-size: 30px;
}

.profile-title {
  color: white;
}

.sidebar-logo {
  width: 120px;
  margin-bottom: 20px;
}

.park-title {
  font-family: serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nav-links a {
  display: block;
  margin: 10px 0;
  color: #3E5B3F;
  text-decoration: none;
}

.nav-links .active {
  font-weight: bold;
  color: #7EAD83;
}

.form-section {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
}

form#eventForm {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  max-width: 600px;
  display: flex;
}

input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #3E5B3F;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

button:hover {
  background-color: #3E5B3F;
}

.event-card {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.empty-state {
  color: #eef126;
  font-style: italic;
  font-size: 18px;
}

.form-box {
  margin-top: 20px;
}
