.landing {
  display: flex;
  height: 100vh;
}

.image-container {
  flex: 1;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.text-container button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #547358;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.text-container button:hover {
  background-color: #7EAD83;
}
