.pet-events-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  
}

.sidebar {
  flex: 0 0 250px;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-logo {
  width: 120px;
  margin-bottom: 20px;
}

.park-title {
  font-family: serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.nav-links a {
  display: block;
  margin: 10px 0;
  color: #3E5B3F;
  text-decoration: none;
}

.nav-links .active {
  font-weight: bold;
  color: #7EAD83;
}

.form-section {
  margin-left: 300px;
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: auto;
  justify-self: right;

}

form#eventForm {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: 300px;
  justify-content: center;
  justify-self: right;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.8rem;
  background-color: #3E5B3F;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

button:hover {
  background-color: #7EAD83;
}

.event-card {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.empty-state {
  color: #999;
  font-style: italic;
}
